/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: 'wght' var(--main-font-weight);
  }

  .title_sprint {
    font-variation-settings: 'wght' var(--title-font-weight);
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight);
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.header {
  font-family: var(--accent-font), sans-serif;
  background-color: var(--background-color);
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px solid var(--color);
  width: var(--width);
  height: clamp(20.438rem, 3.85vw + 19.535rem, 23rem);
  text-transform: uppercase;
  gap: 25px;
}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header_details {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.logo_group {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 20px;
  align-items: center;
}

.header__theme-menu {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-weight: var(--main-font-weight);
  font-size: 14px;
  width: min-content;
  align-items: flex-start;
  justify-content: center;
  height: 70px;
  margin-left: 20px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  padding: 0;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  transform: scaleX(0);
  background-color: var(--color);
  transition: 0.3s ease-out;
  transform-origin: left center;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
  outline: 0.5px solid var(--color);
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  top: 0px;
  left: -20px;
  opacity: 0.6;
  animation: moving 0.5s ease-in-out infinite alternate;
  transform: scaleX(1);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
}

.info_sprint {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 2px solid var(--color);
}

.title_sprint {
  font-variation-settings: 'wght' var(--title-font-weight);
  padding: 4px 10px 6px;
  line-height: 21.78px;
  font-size: 18px;
  border-bottom: 2px solid var(--color);
}

.text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 27px;
  border-top: 2px solid var(--color);
}

.text_sprint {
  line-height: 21px;
  font-size: 18px;
  font-weight: var(--main-font-weight);
}

.sprint_img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  width: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
  height: clamp(23.188rem, 30.516vw + 16.035rem, 43.5rem);
}

.sprint_img_watermark {
  position: relative;
}

.sprint_watermark {
  position: absolute;
  font-family: var(--accent-font);
  background-blend-mode: hard-light;
  font-variation-settings: 'wght' var(--main-font-weight);
  right: 13px;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
  top: 25px;
  text-shadow: 1px var(--background-color);
}

@supports (-webkit-text-stroke: 1px var(--background-color)) {
  .sprint_watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.button_info {
  display: flex;
  margin: 0 25px 25px;
  justify-content: flex-end;
  align-items: center;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--color);
  width: 130px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_style {
  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--color) 50%,
    var(--background-color) 50%
  );
  background-size: 200% 100%;
  transition: 0.5s ease-out;
  background-position: right bottom;
  display: block;
}

.button_style:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--color);
}

.button_style:hover {
  background-position: left bottom;
  color: var(--background-color);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  display: block;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  background-color: transparent;
  height: 38px;
  justify-content: center;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color);
  transition: 0.3s ease;
}

.button_floppy {
  inline-size: 28px;
  block-size: 28px;
  transform-origin: center;
}

@media (width >= 696px) {
  .button_floppy {
    inline-size: 21px;
    block-size: 21px;
  }

  .dialog_details[open] {
    padding-right: 30px;
    padding-left: 30px;
  }

  .sprint_watermark {
    right: 25px;
  }
}

.button_floppy:hover {
  background-position: left bottom;
  color: var(--background-color);
}

.button_save {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 8px;
  border: 2px solid var(--color);
  width: clamp(19.125rem, 9.034vw + 17.008rem, 20.938rem);
  cursor: pointer;
  margin-bottom: 100px;
}

.sparks {
  fill-opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: appear 0.3s 0.3s ease-in alternate;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  transition: fill 0.3s 0.03s linear;
  fill: var(--effect-heart-color);
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--effect-heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.03s linear;
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.03s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  animation: resize 0.3s 0.1s ease-in alternate;
  transform-origin: center;
}

.dialog_details[open] {
  width: clamp(21.313rem, 3.738vw + 20.436rem, 22.063rem);
  padding-block-start: 30px;
  padding-block-end: 30px;
  gap: 30px;
  background-color: var(--background-color);
  border: 2px solid var(--color);
}

.text_image_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.dialog_id_contatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.disk_text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 21px;
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  color: var(--color);
}

.save__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  font-weight: var(--main-font-weight);
}

.button_floppy_dialog {
  inline-size: 39px;
  block-size: 39px;
  color: var(--color);
}

.close_button {
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 12.6px;
  background-color: transparent;
  border: 2px solid var(--color);
  color: var(--color);
  height: 38px;
  width: clamp(16.063rem, 3.38vw + 15.27rem, 18.313rem);
}

.close_button:hover {
  background-position: left bottom;
  color: var(--background-color);
}

.dialog_details::backdrop {
  background-color: #000000;
  opacity: 75%;
}

.img_filter_blur {
  filter: blur(4px);
}

.img_filter_contrast {
  filter: contrast(200%);
}

.img_filter_grayscale {
  filter: grayscale(60%);
}

.img_filter_hue-rotate {
  filter: hue-rotate(70deg);
}

.img_filter_invert {
  filter: invert(75%);
}

.img_multipile_filter {
  filter: drop-shadow(3px 3px blue) sepia(100%);
}

.img_filter_shadow {
  filter: drop-shadow(16px 16px 20px red);
}
